<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FoodOps</title>

  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">FoodOps</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/subs">Subscriptions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Registration</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Profile</h1>
        <input hidden type="text" id="subid" value=<%=data.fk_sub_plan %> >
        <input hidden type="text" id="newsub" value=''>
        <div class="container">
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Account Information</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Email: <%= data.email %></td>
                </tr>
                <tr>
                    <td>First name: <%= data.fname %></td>
                </tr>
                <tr>
                    <td>Last name: <%= data.lname %></td>
                </tr>
                <tr>
                    <td>Company: <%= data.company %></td>
                </tr>
                <tr>
                    <td>Role: <%= data.role %></td>
                </tr>
                <tr>
                    <td>Country: <%= data.country %></td>
                </tr>
                <tr>
                    <td id="activeplan">Active subscription plan:</td>
                </tr>
              </tbody>
            </table>
        </div>
        <br/>
        <div class="container">
            <h2>Change Subscription Plan</h2>
            <select id=subplan name=subplan>
                <option value="1">Small</option>
                <option value="2">Medium</option>
                <option value="3">Enterprise</option>
            </select>

            <div class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style='display: block;'>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Are you sure you want to change?</h4>
                    </div>
                    <div class="modal-body">
                      <p id='modalText'>&hellip;</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" id='saveSub'>Save</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <br/>
        <div class="container">
            <h2>Service History</h2>
            <table id="historytable" class="table table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Name</th>
                  <th>Date</th>
                </tr>
                <tbody></tbody>
              </thead>
            </table>
        </div>
        <br/>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/profileHelper.js"></script>

</body>

</html>

